<app-currency-form [currencyList]="currencyList"
                   (addList)="TestAddSelectedCurrencies($event)"
                   class="col-xs-12"
                   align="center">
</app-currency-form>

<div style="height : 400px;">
    <app-currency-list (getRates)="TestGetRates($event)"
                       (getMoreRates)="GetMoreRates($event)"
                       class="col-xs-6">
    </app-currency-list>

    <app-currency-graphics (getRates)="GetRatesToGraphics($event)"
                           class="col-xs-6">
    </app-currency-graphics>
</div>