<div class="form-inline">

        <div class="form-group" *ngIf = currencyList>
            <div class="form-control">
                <label>Валюта:</label>
            </div>

            <button  class="btn btn-primary"
                     (click)="ToggleShowList()"
                     type="button"
            >
                Выбрать валюты
            </button>

        </div>

        <div class="form-group">
            На дату с:<input class="form-control" type="date"
                            [(ngModel)]="currencyFirstDate"
                            #dateFrom="ngModel"
                            placeholder="yyyy-mm-dd"
                            required>
            по: <input class="form-control" type="date"
                       [(ngModel)]="currencySecondDate"
                       #dateTo="ngModel"
                       placeholder="yyyy-mm-dd"
                       required pattern="20[0-9]{2}[\-\.\\\/][0-9]{2}[\-\.\\\/][0-9]{2}">
        </div>

        <div class="form-group">
            <button class="btn btn-primary form-control"
                    [disabled]="dateFrom.invalid || dateTo.invalid"
                    (click)="AddCurrencies()"
            >
                Получить
            </button>
            <button class="btn btn-danger"
                    (click)="ClearSelectedCurrencies()">Сброс</button>
        </div>

</div>

<div *ngIf="!error.formValid"
     class="alert alert-danger"
>
    {{error.msg}}
</div>

<div *ngIf = "showList" class="listOfCurrencies">
    <div>
        <div class="col-xs-2 btn btn-default"
                id="btnCurrency"
                *ngFor = "let currency of currencyList"
                (click)="AddCurrency(currency)"
        >
            <i class="glyphicon glyphicon-ok"
               *ngIf="selectedCurrencies.indexOf(currency) != -1"
               aria-hidden="true"></i>
            {{currency.Cur_Name}}
        </div>
    </div>
</div>


