<div class="form-inline">

        <div class="form-group" *ngIf = currencyList>
            <div class="form-control">
                <label>Валюта:</label>
            </div>

            <select multiple autofocus class="form-control"
                    #currencies="ngModel"
                    [(ngModel)]="selectedCurrenciesNames"
                    required>
                <option *ngFor="let currency of currencyList">
                    {{currency.Cur_Name}}
                </option>
            </select>
        </div>

        <div class="form-group">
            На дату с:<input class="form-control" type="date"
                            [(ngModel)]="currencyFirstDate"
                            #date="ngModel"
                            required>
            по: <input class="form-control" type="date"
                       [(ngModel)]="currencySecondDate"
                       #date="ngModel"
                       required>
        </div>

        <div class="form-group">
            <button class="btn btn-primary form-control"
                    [disabled]="date.invalid"
                    (click)="AddCurrencyList()">
                Получить
            </button>
            <button class="btn btn-danger"
                    (click)="ClearSelectedCurrencies()">Сброс</button>
        </div>

</div>
<div *ngIf="!error.isFormValid"
     class="alert alert-danger">
    {{error.msg}}
</div>
<app-currency-list [selectedList]="selectedCurrencies"></app-currency-list>