<table *ngIf="selectedList.length > 0" class = "table table-striped table-hover">
  <thead>
  <tr>
    <th (click) = "SortSelected('byDate')">Дата<span class="caret"></span></th>
    <th (click) = "SortSelected('byAbbreviation')">Аббревиатура<span class="caret"></span></th>
    <th (click) = "SortSelected('byName')">Наименование<span class="caret"></span></th>
    <th (click) = "SortSelected('byRate')">Оффициальный курс<span class="caret"></span></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let current of selectedList" (click) = "RemoveCurrency(current)">
    <td>{{current.Date.slice(0,10)}}</td>
    <td>{{current.Cur_Abbreviation}}</td>
    <td>
      {{current.Cur_Name}}
    </td>
    <td>{{current.Cur_OfficialRate}}</td>
  </tr>
  </tbody>
</table>