<table *ngIf="currenciesRates.length > 0" class = "table table-striped table-hover">
  <thead>
  <tr>
    <th>
      <strong>Дата: </strong>
    </th>
    <th *ngFor="let currencyOnRange of currenciesRates[0]" align="center">
      {{currencyOnRange.Date.slice(0,10)}}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let currencyOnRange of currenciesRates">
    <td>
      <strong>{{currencyOnRange[0].Cur_Name}}</strong>
    </td>
    <td *ngFor="let currency of currencyOnRange">
      {{currency.Cur_OfficialRate}}
    </td>
  </tr>
  </tbody>
</table>
