<!--<table *ngIf="currenciesRates.length > 0" class = "table table-striped table-hover">-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th>-->
      <!--<strong>Дата: </strong>-->
    <!--</th>-->
    <!--<th *ngFor="let currencyOnRange of currenciesRates[0]" align="center">-->
      <!--{{currencyOnRange.Date.slice(5,10).replace('-','.')}}-->
    <!--</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr *ngFor="let currencyOnRange of currenciesRates">-->
    <!--<td>-->
      <!--<strong>{{currencyOnRange[0].Cur_Name}}</strong>-->
    <!--</td>-->
    <!--<td *ngFor="let currency of currencyOnRange">-->
      <!--{{currency.Cur_OfficialRate}}-->
    <!--</td>-->
  <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->
<table *ngIf="currenciesRates.length > 0" class="table table-striped table-hover table-responsive">
  <thead>
  <tr>
    <th align="center">
      Дата:
    </th>
    <th *ngFor = "let currencyOnRange of currenciesRates"
      align="center">
      {{currencyOnRange[0].Cur_Name}}
    </th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let currencyDates of currenciesRates[0] | reverse; let i = index">
      <td>
        <strong>{{currencyDates.Date.slice(5,10).replace('-','.')}}</strong>
      </td>
      <td *ngFor = "let currencyNames of currenciesRates; let j = index">
        {{currenciesRates[j][i].Cur_OfficialRate}}
      </td>
    </tr>
  </tbody>
</table>